.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#141414;
    height: 100px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Montserrat';
    font-size: 36px;
    color: purple;
}

h3{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    display: flex;
    margin-top: 10px;
}