@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#video_fundo{
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    object-fit: cover;
    filter: brightness(50%);
    position: absolute;
    z-index: -1;
}

#content_page h1{
    font-family: 'Montserrat';
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 15%;
    color: white;
    font-size: 70px;
}

#content_page p{
    font-family: 'Montserrat';
    position: absolute;
    z-index: 2;
    top: 49%;
    left: 15%;
    color: white;
    font-size: 30px;
    width: 23%;
}

#content_page .pbold{
    font-weight: 600;
    top: 61%;
}

.uiux_frontend h1 {
    color: white;
    z-index: 3;
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 50%;
    margin-top: 15%;
}

.uiux_frontend a{
    text-decoration: none;
}

.uiux:hover{
    color: #BEA0E3;
    cursor: pointer;
    transition: 0.5s ease;
}

.frontend:hover{
    color: #BEA0E3;
    cursor: pointer;
    transition: 0.5s ease;
}

#atvs_uiux h1{
    z-index: 3;
    font-family: 'Montserrat';
    margin-top: 30%;
    font-size: 50px;
    color:#ffffff;
}

#atvs_uiux{
    display: flex;
    justify-content: center;
}

/* .linha_divisao1{
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    z-index: 3;
    margin: 25px auto;
    margin-top: 11%;
    width: 100%; 
} */

#botoes_uiux{
    z-index: 3;
    position: absolute;
    display: flex;
    gap: 420px;
    margin-top: 25%;
}

.button_blog{
    background-color: transparent;
    padding: 90px 100px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    /* margin-top: 320%; */
    color: #ffffff;
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.35);
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 900;
}

.button_blog:hover{
    border: 1px solid #BEA0E3;
    color: #BEA0E3;
    transition: 0.8s ease;
    cursor: pointer;
}

/* .activities{
    font-family: 'Montserrat';
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 73%;
    color: white;
    text-decoration: none;
    font-style:normal;
    font-size: 45px;
    list-style: none;
    text-decoration: none;
    position: relative;
    width: 80%;
    z-index: 2;
}

.activities .uiux{
    top: 60%;
    left: 70%;
}

.box {
    font-family: 'Montserrat';
    color: white;
    margin-top: 20%;
    margin-left: 95%;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    transition: all 0.5s ease;
    font-size: 40px;
}

.box:hover{
    color: #BEA0E3;
}

.box2 {
    font-family: 'Montserrat';
    color: white;
    margin-top: 20%;
    margin-left: 95%;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    transition: all 0.5s ease;
    font-size: 40px;
}

.box2:hover{
    color: #BEA0E3;
} */


.uiux-info p{
    z-index: 3;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Montserrat';
    color: white;
}

.uiux-info h1{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

.fundo_atvs{
    height: 100vh;
    background-color: rgba(94, 45, 132, 0.3);
    margin-top: 15%;
}

.body_figma{
    margin: 0;
    padding: 0;
    background-color: rgb(65, 40, 89);
}

.content_imgblog{
    margin-top: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content_imgblog img{
    width: 95%;
    display: flex;
    justify-content: center;
}

/* .content_imgblog h1{
    display: flex;
} */

.card{
    width: 30%;
    height: 24vh;
    margin-left: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.35);
    transition: .4s;
    overflow: hidden;
    color: white;
}

.card:hover{
    height: 354px;
    transform: skew(0deg);
}

.card h1 {
    margin: 1.3rem;
    color: rgb(218, 244, 237);
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}

.card ul{
    margin-top: 43%;
    text-decoration: none;
}

.card li{
    list-style: none;
}